* {
    padding: 0;
    margin: 0;
}

table {
    border: 1px solid lightgray;
    border-radius: 5px;
}

table tr {
    outline: none;
}

.high {
    background-color: lightcoral;
}

.middle {
    background-color: lightblue;
}

.low {
    background-color: lightgreen;
}

table tr td {
    padding: 10px;
}

.primary-content {
    margin-top: 40px;
}